In [1]:
import pandas as pd
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin, ClassifierMixin
import gensim
from scipy.sparse.csr import csr_matrix
import time
from functools import reduce
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from functools import reduce
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from preprocessor import normalize_money, normalize_number, stemmer, pipe
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, accuracy_score
from sklearn.svm import LinearSVC
import sys

In [2]:
gold_standard = pd.read_csv('../gold_standard.csv', dtype={'sense': str})
gold_standard.head()

    id   word sense                                            kalimat
0   13  asing   NaN  Para pecinta film indonesia atau tv, pasti tak...
1   19  asing  5301  Pasti telinga kita merasa asing dan aneh mende...
2   41  asing  5302  Warga negara asing atau warga negara Persemakm...
3   44  asing   NaN  Selama lima belas tahun memerintah, Sultan Mah...
4  121  asing  5302  Yang kemudian diikuti dengan donat-donat waral...

In [3]:
ambiguous_words = set(gold_standard.word)

# Dummy Classifier

In [4]:
result = pd.read_csv('../dummy_baseline_classification.csv', header=None, names=['id', 'word', 'sense'], dtype={'sense': str})
result.head()

    id   word sense
0   13  asing  5302
1   19  asing  5302
2   41  asing  5302
3   44  asing  5302
4  121  asing  5302

# Supervised WSD + Supervised NER + Rule-based MWE

In [56]:
result = pd.read_csv('../supervised_wsd_supervised_ner_rulebased_mwe.csv', header=None, names=['id', 'word', 'sense'], dtype={'sense': str})
result.head()

    id   word sense
0   13  asing  5301
1   19  asing  5301
2   41  asing  5302
3   44  asing  5302
4  121  asing  5302

# Labeled-Data only

In [30]:
labeled = gold_standard.sense.notnull()

In [33]:
classification_report

In [98]:
len(gold_standard.sense.dropna())

3385

# Evaluate

In [94]:
evaluation = {'word': [], 'accuracy': [], 'precision': [], 'recall': [], 'f1': []}

In [95]:
sum_correct_ans = 0

for w in sorted(ambiguous_words):
    evaluation['word'].append(w)
    y_true = gold_standard[labeled].query('word == "{}"'.format(w)).sense
    y_pred = result[labeled].query('word == "{}"'.format(w)).sense
    possible_labels = set([*list(y_true), *list(y_pred)])
    correct_ans = np.sum(np.array(y_true) == np.array(y_pred))
    sum_correct_ans += correct_ans
    report = classification_report(y_true, y_pred, output_dict=True)
    sum_precision = 0
    sum_recall = 0
    sum_f1 = 0
    label_count = 0
    for p in possible_labels:
        if report[p]['support'] > 0:
            label_count += 1
            sum_precision += report[p]['precision']
            sum_recall += report[p]['recall']
            sum_f1 += report[p]['f1-score']
    evaluation['accuracy'].append(correct_ans/len(y_true))
    evaluation['f1'].append(sum_f1 / label_count)
    evaluation['precision'].append(sum_precision / label_count)
    evaluation['recall'].append(sum_recall / label_count)

report = pd.DataFrame(evaluation)
print('Micro accuracy:', sum_correct_ans/len(gold_standard[labeled]))
print('Macro accuracy:', report.accuracy.mean())
print('Macro precision:', report.precision.mean())
print('Macro recall:', report.recall.mean())
print('Macro f1:', report.f1.mean())
# y_true = gold_standard[labeled].sense
# y_pred = result[labeled].sense
# sum_correct_ans += correct_ans
# print(classification_report(y_true, y_pred))
report

Micro accuracy: 0.43870014771048743
Macro accuracy: 0.45706757958468536
Macro precision: 0.1484041387332503
Macro recall: 0.2908289241622575
Macro f1: 0.18954348814265493

            word  accuracy  precision    recall        f1
0          asing  0.621212   0.207071  0.333333  0.255452
1           atas  0.178947   0.022368  0.125000  0.037946
2          badan  0.387097   0.096774  0.250000  0.139535
3           baru  0.629032   0.157258  0.250000  0.193069
4          berat  0.449438   0.074906  0.166667  0.103359
5          besar  0.134021   0.019146  0.142857  0.033766
6         bidang  0.734694   0.244898  0.333333  0.282353
7        bintang  0.400000   0.133333  0.333333  0.190476
8           bisa  0.612245   0.204082  0.333333  0.253165
9           buah  0.530303   0.265152  0.500000  0.346535
10         bulan  0.558442   0.186147  0.333333  0.238889
11         bunga  0.756098   0.378049  0.500000  0.430556
12        cabang  0.458824   0.152941  0.333333  0.209677
13         cerah  0.822222   0.274074  0.333333  0.300813
14        coklat  0.642857   0.214286  0.333333  0.260870
15         dalam  0.040000   0.005000  0.125000  0.009615
16         dasar  0.354839   0.088710  0.250000  0.130952
17         dunia  0.553846   0.184615  0.333333  0.237624
18       halaman  0.311111   0.103704  0.333333  0.158192
19       harapan  0.650000   0.216667  0.333333  0.262626
20         jalan  0.500000   0.071429  0.142857  0.095238
21           jam  0.614458   0.153614  0.250000  0.190299
22      jaringan  0.468085   0.156028  0.333333  0.212560
23         kabur  0.583333   0.194444  0.333333  0.245614
24          kaki  0.428571   0.142857  0.333333  0.200000
25          kali  0.366667   0.091667  0.250000  0.134146
26        kepala  0.761905   0.380952  0.500000  0.432432
27         ketat  0.404255   0.101064  0.250000  0.143939
28         kulit  0.351351   0.087838  0.250000  0.130000
29         kunci  0.432836   0.086567  0.200000  0.120833
30         layar  0.275862   0.091954  0.333333  0.144144
31         lebat  0.695652   0.347826  0.500000  0.410256
32    lingkungan  0.425532   0.141844  0.333333  0.199005
33          mata  0.258065   0.036866  0.142857  0.058608
34       membawa  0.155172   0.025862  0.166667  0.044776
35    memecahkan  0.531250   0.177083  0.333333  0.231293
36     menangkap  0.622222   0.124444  0.200000  0.153425
37     mendorong  0.795455   0.397727  0.500000  0.443038
38      menerima  0.150000   0.025000  0.166667  0.043478
39    mengandung  0.913043   0.456522  0.500000  0.477273
40      mengejar  0.500000   0.250000  0.500000  0.333333
41  mengeluarkan  0.441860   0.073643  0.166667  0.102151
42      mengikat  0.117647   0.029412  0.250000  0.052632
43       mengisi  0.288889   0.072222  0.250000  0.112069
44       menjaga  0.447761   0.111940  0.250000  0.154639
45    menurunkan  0.482759   0.080460  0.166667  0.108527
46      menyusun  0.444444   0.148148  0.333333  0.205128
47         nilai  0.363636   0.090909  0.250000  0.133333
48         panas  0.149425   0.024904  0.166667  0.043333
49     pembagian  0.275000   0.055000  0.200000  0.086275
50         rapat  0.771429   0.257143  0.333333  0.290323
51        sarung  0.470588   0.235294  0.500000  0.320000
52        tengah  0.196429   0.039286  0.200000  0.065672
53        tinggi  0.172840   0.024691  0.142857  0.042105

In [96]:
report.to_csv('test_result_dummy.csv')

In [100]:
pd.DataFrame({
    'lol': {
        'a': [1,2,3],
        'b': [3,2,4]
    }
})

         lol
a  [1, 2, 3]
b  [3, 2, 4]