In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
single_agree = pd.read_csv('../single_annotator.csv')
double_agree = pd.read_csv('../double_annotator_agree.csv')
triple_agree = pd.read_csv('../triple_annotator_agree.csv')

In [3]:
double_disagree = pd.read_csv('../double_annotator_disagree.csv')
triple_disagree = pd.read_csv('../triple_annotator_disagree.csv')

In [60]:
single_agree.head()

   kalimat_id   kata sense                                            kalimat
0      336691  cerah  4801          Cuaca cerah adalah lazim sepanjang tahun.
1      336270  cerah  4801  Gambar yang dihasilkan oleh layarnya cukup cer...
2      336555  cerah  4803  Masa depan yang cerah bagi pemuda berumur 20 d...
3      336618  cerah  4801  Cor Caroli (Alpha Canum Venaticorum), (nama le...
4      336613  cerah  4801  Sanders lebih menyukai cat air untuk Lilo deng...

# Summarize

In [4]:
len({*set(single_agree.kata), *set(double_agree.kata), *set(triple_agree.kata), *set(double_disagree.kata), *set(triple_disagree.kata)})

54

In [5]:
len({*set(single_agree.kalimat_id), *set(double_agree.kalimat_id), *set(triple_agree.kalimat_id),
     *set(double_disagree.kalimat_id), *set(triple_disagree.kalimat_id)})

10314

In [6]:
len({*set(single_agree.kalimat_id), *set(double_agree.kalimat_id), *set(triple_agree.kalimat_id)})

8998

However, there are only 8992 annotated sentence in dataset without disagreement between annotators

# Merge no-conflict-between-annotators-dataset

In [7]:
dataset_kalimat_id = [*list(single_agree.kalimat_id), *list(double_agree.kalimat_id), *list(triple_agree.kalimat_id)]
dataset_kata = [*list(single_agree.kata), *list(double_agree.kata), *list(triple_agree.kata)]
dataset_sense = [*list(single_agree.sense), *list(double_agree.sense), *list(triple_agree.sense)]
dataset_kalimat = [*list(single_agree.kalimat), *list(double_agree.kalimat), *list(triple_agree.kalimat)]

# Only NER Tasks

In [8]:
wsd_dataset_kalimat = []
wsd_dataset_kata = []
wsd_dataset_sense = []

for kalimat_id, sense, kata, kalimat in zip(dataset_kalimat_id, dataset_sense, dataset_kata, dataset_kalimat):
    if str(sense)[-1] in 'abcd':
        if kalimat_id == 852692: continue # malformed sentence
        wsd_dataset_kata.append(kata)
        wsd_dataset_sense.append(sense)
        wsd_dataset_kalimat.append(kalimat)
        
dataset = pd.DataFrame({
    'kata': wsd_dataset_kata,
    'sense': wsd_dataset_sense,
    'raw': wsd_dataset_kalimat,
    'kalimat': wsd_dataset_kalimat
})

display(dataset.head())
print(len(dataset))

,kata,sense,raw,kalimat
0,coklat,470d,Dari hasil pengujian menunjukkan bahwa ada beb...,Dari hasil pengujian menunjukkan bahwa ada beb...
1,jalan,190b,Perbatasan dengan Paroki Santo Petrus Lubukbaj...,Perbatasan dengan Paroki Santo Petrus Lubukbaj...
2,jalan,190b,Pulo Geulis dapat dicapai dengan berjalan kaki...,Pulo Geulis dapat dicapai dengan berjalan kaki...
3,sarung,120d,"Pemain bertelanjang dada, namun mengenakan pak...","Pemain bertelanjang dada, namun mengenakan pak..."
4,dasar,450d,SDN Jati 07 Pagi merupakan sebuah Sekolah Dasa...,SDN Jati 07 Pagi merupakan sebuah Sekolah Dasa...

437

# POS Tagging

In [9]:
import nltk
from preprocessor import pipe

In [10]:
annotated_words = set(dataset.kata)

ct = nltk.tag.CRFTagger()
ct.set_model_file('all_indo_man_tag_corpus_model.crf.tagger')

In [11]:
dataset['pos_tags'] = list(map(
    pipe(
        nltk.word_tokenize,
        lambda tokens: [tokens],
        ct.tag_sents,
        lambda pos_tags_sentence: pos_tags_sentence[0]
    ),
    dataset.kalimat
))

In [12]:
dataset.iloc[0].pos_tags

[('Dari', 'IN'),
 ('hasil', 'NN'),
 ('pengujian', 'NN'),
 ('menunjukkan', 'VB'),
 ('bahwa', 'SC'),
 ('ada', 'VB'),
 ('beberapa', 'CD'),
 ('varietas', 'NN'),
 ('yang', 'SC'),
 ('tahan', 'NN'),
 ('terhadap', 'IN'),
 ('wereng', 'NN'),
 ('coklat', 'NN'),
 ('biotipe', 'NN'),
 ('2', 'CD'),
 ('dan', 'CC'),
 ('3', 'CD'),
 (',', 'Z'),
 ('namun', 'CC'),
 ('menjadi', 'VB'),
 ('rentan', 'NN'),
 ('terhadap', 'IN'),
 ('wereng', 'NN'),
 ('punggung', 'NN'),
 ('putih', 'JJ'),
 ('.', 'Z')]

# Begin data cleaning

In [13]:
dataset['clean'] = pd.Series(['' for i in range(len(dataset))])

In [14]:
dataset.head()

,kata,sense,raw,kalimat,pos_tags,clean
0,coklat,470d,Dari hasil pengujian menunjukkan bahwa ada beb...,Dari hasil pengujian menunjukkan bahwa ada beb...,"[(Dari, IN), (hasil, NN), (pengujian, NN), (me...",
1,jalan,190b,Perbatasan dengan Paroki Santo Petrus Lubukbaj...,Perbatasan dengan Paroki Santo Petrus Lubukbaj...,"[(Perbatasan, NN), (dengan, IN), (Paroki, NNP)...",
2,jalan,190b,Pulo Geulis dapat dicapai dengan berjalan kaki...,Pulo Geulis dapat dicapai dengan berjalan kaki...,"[(Pulo, NNP), (Geulis, NNP), (dapat, MD), (dic...",
3,sarung,120d,"Pemain bertelanjang dada, namun mengenakan pak...","Pemain bertelanjang dada, namun mengenakan pak...","[(Pemain, IN), (bertelanjang, NN), (dada, NN),...",
4,dasar,450d,SDN Jati 07 Pagi merupakan sebuah Sekolah Dasa...,SDN Jati 07 Pagi merupakan sebuah Sekolah Dasa...,"[(SDN, NNP), (Jati, NNP), (07, NNP), (Pagi, NN...",

## Execute cleaning

In [15]:
import time
from preprocessor import (
    normalize_money, normalize_number, remove_punctuation,
    create_stemmer, create_stop_words_remover, stemmer,
    clean_word, normalize_weekday, normalize_month, remove_normalized,
    normalize_personal_pronoun, normalize_demonstrative_pronoun, normalize_coordinating_conjunction,
    normalize_determiner, normalize_preposition, create_obvious_verb_normalizer
)

In [16]:
# exceptions, do not stem, because pysastrawi is stupid
exception_words = {'senilai', 'bernilai', 'menilainya', 'dinilainya', *set(map(stemmer.stem, annotated_words))}

In [17]:
begin = time.perf_counter()
dataset['kalimat'] = pd.Series(
    map(
        pipe(
            remove_punctuation,
            normalize_money,
            normalize_number,
            normalize_weekday,
            normalize_month,
            create_stemmer(annotated_words, exception_words),
        ),
        dataset.kalimat
    )
)
print('elapsed time:', time.perf_counter() - begin)

elapsed time: 1.736391067999648

In [18]:
dataset.iloc[1].kalimat

'perbatasan dengan paroki santo petrus lubukbaja adalah jalan yos sudarso'

In [19]:
begin = time.perf_counter()
dataset['clean'] = pd.Series(
    map(
        pipe(
            create_obvious_verb_normalizer(annotated_words, exception_words),
            normalize_personal_pronoun,
            normalize_demonstrative_pronoun,
            normalize_coordinating_conjunction,
            normalize_determiner,
            normalize_preposition,
            remove_normalized,
            create_stop_words_remover(annotated_words, exception_words),
        ),
        dataset.kalimat
    )
)
print('elapsed time:', time.perf_counter() - begin)

elapsed time: 0.2541015390015673

In [20]:
dataset.head()

,kata,sense,raw,kalimat,pos_tags,clean
0,coklat,470d,Dari hasil pengujian menunjukkan bahwa ada beb...,dari hasil uji tunjuk bahwa ada beberapa varie...,"[(Dari, IN), (hasil, NN), (pengujian, NN), (me...",hasil uji varietas tahan hadap wereng coklat b...
1,jalan,190b,Perbatasan dengan Paroki Santo Petrus Lubukbaj...,perbatasan dengan paroki santo petrus lubukbaj...,"[(Perbatasan, NN), (dengan, IN), (Paroki, NNP)...",perbatasan paroki santo petrus lubukbaja jalan...
2,jalan,190b,Pulo Geulis dapat dicapai dengan berjalan kaki...,pulo geulis dapat capai dengan berjalan kaki l...,"[(Pulo, NNP), (Geulis, NNP), (dapat, MD), (dic...",pulo geulis capai berjalan kaki jembatanjembat...
3,sarung,120d,"Pemain bertelanjang dada, namun mengenakan pak...",main telanjang dada namun kena pakai perang li...,"[(Pemain, IN), (bertelanjang, NN), (dada, NN),...",main telanjang dada kena pakai perang lindung ...
4,dasar,450d,SDN Jati 07 Pagi merupakan sebuah Sekolah Dasa...,sdn jati somenumber pagi rupa sebuah sekolah d...,"[(SDN, NNP), (Jati, NNP), (07, NNP), (Pagi, NN...",sdn jati pagi rupa sekolah dasar negeri letak ...

# Write down the position of target word

In [21]:
targetpos = [-1 for i in range(len(dataset))]

for i in range(len(dataset)):
    target = dataset.iloc[i].kata
    tokens = dataset.iloc[i].clean.split()
    for j in range(len(tokens)):
        if tokens[j].find(target) >= 0 or stemmer.stem(tokens[j]) == stemmer.stem(target):
            targetpos[i] = j
            break
    if targetpos[i] == -1:
        print(target)
        print(tokens)
        print(dataset.iloc[i].kalimat)
        print(i)
        raise Exception

dataset['targetpos_clean'] = pd.Series(targetpos)

In [22]:
targetpos_ori = [-1 for i in range(len(dataset))]

for i in range(len(dataset)):
    target = dataset.iloc[i].kata
    tokens = dataset.iloc[i].kalimat.split()
    for j in range(len(tokens)):
        token = clean_word(tokens[j])
        if token.find(target) >= 0 or stemmer.stem(token) == stemmer.stem(target):
            targetpos_ori[i] = j
            break
    if targetpos_ori[i] == -1:
        print(target)
        print(tokens)
        print(dataset.iloc[i].kalimat)
        print(i)
        raise Exception

dataset['targetpos_ori'] = pd.Series(targetpos_ori)

In [23]:
targetpos_pos_tag = [-1 for i in range(len(dataset))]
tags_only = ['' for i in range(len(dataset))]

for i in range(len(dataset)):
    target = dataset.iloc[i].kata
    tokens = dataset.iloc[i].pos_tags
    for j in range(len(tokens)):
        token = clean_word(tokens[j][0])
        if token.find(target) >= 0 or stemmer.stem(token) == stemmer.stem(target):
            targetpos_pos_tag[i] = j
            break
    if targetpos_pos_tag[i] == -1:
        print(target)
        print(tokens)
        print(dataset.iloc[i].kalimat)
        print(i)
        raise Exception
    tags_only[i] = ' '.join(list(map(lambda t: t[1], tokens)))

dataset['targetpos_pos_tag'] = pd.Series(targetpos_pos_tag)
dataset['pos_tags'] = pd.Series(tags_only)

# Training

In [24]:
dataset.to_csv('train_data_ner.csv')

In [83]:
dataset

,kata,sense,kalimat,pos_tags,clean,targetpos_clean,targetpos_ori,targetpos_pos_tag
0,coklat,470d,dari hasil uji tunjuk bahwa ada beberapa varie...,IN NN NN VB SC VB CD NN SC NN IN NN NN NN CD C...,hasil uji varietas tahan hadap wereng coklat b...,6,12,12
1,jalan,190b,Perbatasan dengan paroki santo petrus lubukbaj...,NN IN NNP NNP NNP NNP VB NNP NNP NNP Z,Perbatasan paroki santo petrus lubukbaja jalan...,5,7,7
2,jalan,190b,pulo geulis dapat capai dengan berjalan kaki l...,NNP NNP MD VB SC VB NN VB NN SC RB IN NN NNP N...,pulo geulis capai berjalan kaki jembatanjembat...,3,5,5
3,sarung,120d,main telanjang dada namun kena pakai perang li...,IN NN NN Z CC VB NN NN NN NN CC JJ VB NN JJ NN...,main telanjang dada kena pakai perang lindung ...,13,17,18
4,dasar,450d,sdn jati somenumber pagi rupa sebuah sekolah d...,NNP NNP NNP NNP VB NND NN NNP NNP SC VB IN NNP...,sdn jati pagi rupa sekolah dasar negeri letak ...,5,7,7
5,dasar,450d,sd kartika x somenumber pagi rupa sebuah sekol...,NNP NNP NNP Z CD NNP VB NND NN NNP NNP SC VB I...,sd kartika x pagi rupa sekolah dasar swasta le...,6,8,9
6,dasar,450d,sdn jatinegara somenumber adalah sekolah dasar...,NNP NNP CD VB NNP NNP NNP SC VB IN NNP NNP NNP...,sdn jatinegara sekolah dasar negeri letak buar...,3,5,5
7,dasar,450d,pada somenumber ia deklarasi asosiasi ekonomi ...,IN CD PRP VB NNP NNP NNP NNP Z NNP Z Z NND NN ...,deklarasi asosiasi ekonomi politik indonesia a...,13,20,23
8,harapan,350b,kampung dengan seks rasio terbesar adalah kamp...,NN IN NN NN JJ VB NNP NNP NNP IN NN NN CD CC S...,kampung seks rasio terbesar kampung harap jaya...,5,7,7
9,besar,540a,pada tahun somenumber mufti besar arab saudi a...,IN NN CD Z NNP NNP NNP NNP NNP NNP NNP NNP NNP...,mufti besar arab saudi abdul aziz bin abdullah...,1,4,5
10,besar,540b,kelompok selatan masuk nikobar besar somenumbe...,NN NN VB NNP NNP Z CD NN Z Z NNP NNP Z CD NN Z...,kelompok selatan masuk nikobar besar km nicoba...,4,4,4
11,jam,090c,ia diri band yang nama jam rock sama ricky ted...,PRP VB FW SC VB NNP NNP IN NNP NNP Z FW Z CC N...,band nama jam rock ricky tedy bass budi haryon...,2,5,5
12,mata,100b,markah tanah kenal london yang lain di antara ...,NN NN VB NNP SC RB IN NN NNP NNP Z NNP NNP Z N...,markah tanah kenal london istana buckingham ma...,6,10,11
13,mata,100b,sma negeri somenumber padang rupa salah somenu...,NNP NNP NNP NNP VB JJ CD NN JJ IN NN SC NN IN ...,sma negeri padang rupa salah sekolah tengah at...,14,19,20
14,badan,140c,pada tahun somenumber anggota badan swapraja d...,IN NN CD NN NNP NNP IN CD NN VB CD NN SC NNP N...,anggota badan swapraja orang orang ponggawa la...,1,4,4
15,harapan,350b,lokasi pulau harap yang keliling banyak pulau ...,NN NNP NNP SC VB CD NN NN CC NN NN RB Z,lokasi pulau harap keliling pulau resort pulau...,2,2,2
16,harapan,350c,reisa adalah orang dokter sekaligus orang mode...,MD VB NND NN RB NND NN IN WH PRP VB NN RB IN N...,reisa orang dokter orang model tempuh didik do...,10,16,16
17,harapan,350c,s134ko3112015 tanggal somenumber juli somenumb...,CD NN CD NNP CD IN NNP NNP NNP Z SC NNP NNP NN...,s134ko3112015 tanggal juli tuju ubah logo pt b...,9,13,14
18,layar,160b,Tenjolayar asal dari kata tenjo dan layar,NN VB IN VB FW FW Z CC NN VB Z Z,Tenjolayar tenjo layar,0,0,0
19,layar,160b,smk negeri smkn somenumber benteng rupa salah ...,NNP NNP Z NNP Z CD NNP VB JJ CD NNP NNP NNP NN...,smk negeri smkn benteng rupa salah sekolah ten...,12,17,19
20,besar,540b,sdn cipinang besar utara somenumber atau nama ...,NNP NNP NNP NNP CD CC NN NN NNP NNP NNP NNP NN...,sdn cipinang besar utara nama lengkap sekolah ...,2,2,2
21,coklat,470d,sanca coklat bothrochilus albertisii adalah so...,NN NN Z NNP NNP NNP Z Z VB CD NN NNP NNP SC MD...,sanca coklat bothrochilus albertisii jenis ula...,1,1,1
22,coklat,470a,selznick ubah pikir telah editor kisah kay cok...,NNP VB NN SC NN NN NNP NNP CC NN NN NNP NNP NN...,selznick ubah pikir editor kisah kay coklat mi...,6,7,7
23,coklat,470d,banyak bintang suar rupa bintang katai merah m...,CD NN NN VB NN NN JJ Z SC NN VB SC VB NN JJ RB...,bintang suar rupa bintang katai merah teliti k...,8,12,13
24,dasar,450d,deped mengharapkan lebih dari somenumber juta ...,NNP VB RB IN CD CD NN NN IN NN NN JJ SC NN NN ...,deped mengharapkan juta siswa sd sekolah dasar...,6,10,10
25,dasar,450d,pada tingkat sekolah dasar sdmi negeri dan swa...,IN NN NN NN NNP NNP CC NNP MD VB IN CD NN Z,tingkat sekolah dasar sdmi negeri swasta desa,2,3,3
26,dasar,450d,konsep konstitusionalisme sendiri benar telah ...,NN NN NN RB MD VB CC VB JJ SC NN NN OD VB Z,konsep konstitusionalisme kembang undangundang...,4,11,11
27,dasar,450d,sd negeri somenumber jepang rupa salah somenum...,NNP NNP CD NNP Z VB JJ CD NN NN NN SC VB IN NN...,sd negeri jepang rupa salah sekolah dasar nege...,6,8,9
28,dasar,450d,kembang lanjut jadi bulan maret somenumber man...,NN RB VB NN NNP CD NN NN CD VB NN NN NN SC VB ...,kembang bulan maret skadik selenggara didik ra...,10,17,17
29,dasar,450d,guru isa tokoh utama adalah guru sekolah dasar...,NNP NNP Z NN RB Z VB NN NN NN SC VB NN CC VB NN Z,guru isa tokoh utama guru sekolah dasar gari m...,6,7,9
...,...,...,...,...,...,...,...,...
408,badan,140c,duduk bagai bantu rektor rektor menteri agama ...,RB IN NNP NNP Z NNP Z NNP NNP Z NNP NNP Z NNP ...,duduk bantu rektor rektor menteri agama ketua ...,12,13,18
409,dunia,130d,pada februari somenumber alexander tiba di ble...,IN NNP CD Z NNP VB IN NNP NNP Z NN NN NN IN NN...,februari alexander bletchley park pusat pecah ...,9,15,17
410,dunia,130d,piala dunia fifa somenumber adalah piala dunia...,NNP NNP NNP CD VB NNP NNP NNP CD Z NN NN NN JJ...,piala dunia fifa piala dunia fifa ke23 turname...,1,1,1
411,badan,140c,selain itu berdasarkan putus badan akreditasi ...,IN PR VB NNP NNP NNP NNP NNP NNP Z NNP NNP Z S...,berdasarkan putus badan akreditasi nasional gu...,2,4,4
412,harapan,350b,bumi harap adalah salah somenumber lurah di Ke...,NNP NNP VB JJ CD NN IN NNP NNP NNP Z NNP NNP Z...,bumi harap salah lurah Kecamatan bacukiki bara...,1,1,1
413,lingkungan,340d,ia rupa mantan menteri lingkungan hidup jerman,PRP VB JJ NN NN NN NNP Z,rupa mantan menteri lingkungan hidup jerman,3,4,4
414,mata,100a,ompu tuan bur punya somenumber orang putera ya...,NNP NNP NNP VB CD NN JJ SC NNP NNP Z NNP NNP Z...,ompu tuan bur orang putera lango raja saing ra...,9,12,14
415,mata,100a,pada somenumber september somenumber mata buat...,IN CD NNP CD Z NNP VB VB NNP NNP NNP NN NNP VB...,september mata debut liga champions uefa chels...,1,4,5
416,baru,390d,prestasi ini jadi winds bagai terima harga rek...,NN PR VB NN IN NN NNP NNP NNP SC NNP NNP NNP N...,prestasi winds terima harga rekam jepang artis...,7,12,12
417,rapat,460d,beberapa jual jamu tambah bahanbahan lain yang...,CD NN NN VB NN JJ SC JJ VB IN NN NN NN CC NN N...,jual jamu bahanbahan ramu jamu putih jamu sari...,8,16,16
418,tengah,430b,sejak somenumber desember somenumber salur pea...,IN CD NNP CD Z NN NNP NNP NNP VB IN CD NN CC R...,desember salur peace tv chinese tayang dunia u...,10,17,19
419,tengah,430b,pada tahun somenumber tibatiba muncul lagi kas...,IN NN CD NN VB RB JJ IN NNP NNP CC NN NN Z,tibatiba muncul jawa tengah tular kemanamana,3,9,9
420,tengah,430b,tanjung ini rupa ujung paling selatan pengunun...,NN PR VB NN RB NN NNP NNP CC NN IN NNP NNP NNP Z,tanjung rupa ujung selatan pengunungan tengah ...,5,7,7
421,tengah,430b,saat ini kereta api ini jadi satusatunya keret...,NN PR NN NN PR VB NN NN NN SC VB IN NNP IN NNP...,kereta api satusatunya kereta api operasi jaka...,8,15,15
422,tengah,430b,muara pagatan tengah adalah desa yang letak di...,NNP NNP NNP VB NN SC VB IN NNP NNP NNP Z NNP N...,muara pagatan tengah desa letak Kecamatan kus ...,2,2,2
423,tengah,430b,tidak seperti candi gaya jawa tengah lain tubu...,NEG IN NN NN NNP NNP RB Z NN NN CC NN IN NN NE...,candi gaya jawa tengah tubuh candi atap batu temu,3,5,5
424,tengah,430b,di awal abad ke15 conquistador spanyol berlaya...,IN NN NN CD Z NN NNP VB IN NNP NNP IN NNP NNP ...,abad ke15 conquistador spanyol berlayar amerik...,6,9,10
425,tengah,430b,cimahi tengah adalah sebuah kecamatan di kota ...,NNP NNP VB NND NN IN NNP NNP Z NNP NNP NNP Z N...,cimahi tengah kecamatan kota cimahi provinsi j...,1,1,1
426,tengah,430b,dua temu prasasti ini tunjuk bahwa kawasan pan...,CD NN NN PR VB SC NN NN NN NNP NNP NN VB NN SC...,temu prasasti kawasan pantai utara jawa tengah...,6,10,10
427,tengah,430b,somenumber persen tetap di amerika serikat sel...,CD CD NN IN NNP NNP NNP Z SC CD CD NN IN NNP N...,persen amerika serikat selatan persen timur la...,8,16,17
428,baru,390d,tujuh somenumber murid adalah muridmurid yesus...,CD CD NN VB NNP NNP NNP RB SC VB IN NNP NNP NN...,tujuh murid muridmurid yesus kristus mulamula ...,10,15,15
429,besar,540b,daerah yang dapat bantu kampung deret yang ser...,NN SC VB NN NNP NNP SC RB VB NN IN JJ NNP NNP ...,daerah bantu kampung deret sorot tanah tinggi ...,8,15,16
430,bintang,070b,bandar negeri adalah desa di kecamatan bintang...,NNP NNP VB NN IN NN NNP NNP Z NNP NNP Z NNP NN...,bandar negeri desa kecamatan bintang bayu serd...,4,6,6
431,bunga,060a,ia pun pilih tinggal di rumah kos milik hamzah...,PRP RP VB VB IN NN NN NN NNP SC VB RB Z NN Z N...,pilih tinggal rumah kos milik hamzah dijalanka...,8,12,13
432,coklat,470d,nama katai coklat usul oleh jill tarter,NN NN NN VB IN NNP NNP Z,nama katai coklat usul jill tarter,2,2,2
433,baru,390d,bak jamur musim hujan karyawan dan kerja bumn ...,NN NN NN NN Z NNP CC NN NN JJ VB NNP SC VB NN ...,bak jamur musim hujan karyawan kerja bumn bera...,12,15,16
434,harapan,350c,sama dengan sd pada umum di indonesia masa did...,NNP IN NNP IN NN IN NNP NN NN NN IN NNP NNP NN...,sd indonesia didik sekolah sd harap koin tempu...,5,12,12
435,harapan,350c,pada somenumber januari somenumber mahathir ny...,IN CD NNP CD Z NNP VB IN NN NN NN NN NN NNP NN...,januari mahathir nyata calon perdana menteri a...,9,13,14
436,jalan,190b,smk negeri somenumber kota bekas adalah sekola...,NNP NNP CD NNP NNP VB NN JJ NN SC VB IN NNP NN...,smk negeri kota bekas sekolah tengah juru kota...,12,19,20
437,baru,390b,labuh tangga baru adalah salah somenumber desa...,NNP NNP NNP VB JJ CD NN IN NNP NNP Z NNP NNP N...,labuh tangga baru salah desa Kecamatan bangko ...,2,2,2